# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# Publish
publish/

# EF
Migrations/*Designer.cs

# OS files
.DS_Store
Thumbs.db

# Secrets
appsettings.Development.json